.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

.row {
  width: 100%;
  
  margin: 2rem 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  @include ResponsiveMobileFirst(tab) {
      flex-direction: row;
  }

  &__section {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    margin: 1rem 0px;

    @include ResponsiveMobileFirst(tab) {
      width: 32%; // I had to use width instead of flex-basis due to white space no wrap not working well with it.
    }

    &__sub {
      &--1,
      &--3 {
        padding: 5px;
        flex: 0 0 50px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
        border: 1px solid #eee;
      }

      &--2 {
        padding: 5px;
        flex-grow: 1;
        flex-shrink: 0;
        border: 1px solid #eee;
      }
    }

  }

}
